* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  text-align: center;
}

table {
  margin: auto;
}

td,th {
  padding: 5px;
}

.link-logo {
  height: 15px;
}

.filter-box {
  margin: 20px;
}

.search-bar {
  width: 100%;
  padding: 5px 8px;
  margin: 10px 0;
}

label {
  margin-right: 20px;
}